html {
  color: black;
  background-color: white;
  font-family: Courier, monospace;
  right: auto;
/*wanted to move text over more so it's not covered by the side bar*/
  max-width: 120vw;
  font-size: 12px;
}

/* The sidebar menu */
.sidenav {
  height: 50%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10%;
  padding-bottom: 25%;
  padding-right: 15%;
}

.sidenav a {
  text-decoration: none;
  color: #c8a2c8;
  display: block;
  padding-top: 15%;
  font-size: 25px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: yellow;
  text-decoration: underline wavy yellow;
}

.sidenav a:active {
  color: yellow;
  text-decoration: underline wavy yellow;
}

p {
  width: 50%;
  padding-left: 10%;
  padding-right: 45%;
  height: 50%;
  padding-top: 10%;
  padding-bottom: 25%;
  text-align: justify;
}

img {
    text-align: right;
    width: 100%;
}

h1 {
  width: 50%;
  padding-left: 15%;
  padding-right: 35%;
}

/* Style page content */
.main {
  margin-center: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.container {
  opacity: 0.25;
  background-color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 20px;}
}
